$accentColor=#f1362f

.navbar {
    background-color: #24292e !important;
}

.navbar .site-name {
    color: #FFF;
    opacity: 0.9;
    font-size: 1rem;
}

.navbar .links {
    background: transparent;
}

.site-name::before {
    content: '⚡';
    color: transparent;
    text-shadow: 0 0 0 #666;
}

.sidebar {
    background-color: #fafbfc !important;
}

.content:not(.custom), .page-edit, .page-nav {
    max-width: none !important;
}