$accentColor=#f1362f

.navbar {
    background-color: #24292e !important;
}

.navbar .site-name {
    color: #FFF;
    opacity: 0.8;
    font-size: 1rem;
    display: flex;
}

.navbar .site-name::before {
    content: '⚡';
    color: transparent;
    text-shadow: 0 0 0 #f1362f;
    font-size: 1.5rem;
}

.navbar .links {
    background: transparent;
}

.navbar a, .sidebar-button {
    color: #FFF;
    opacity: 0.8;
}

.navbar a:hover {
    color: #FFF;
    opacity: 1;
}

.sidebar {
    background-color: #fafbfc !important;
}

.content:not(.custom), .page-edit, .page-nav {
    max-width: none !important;
}